{:meta {:name "a plain data file test"}
 :input {:provisioner :dda.provision.dry-run/dry-run
         :module "dda-provision"
         :sub-module "should-copy"
         :files [{:filename "aFile"}]}
 :expected [{:path "/tmp/dda-provision/should-copy/aFile"
              :mode "600"
              :owner "root"
              :group "root"
              :content "aFile"}]}