{:meta {:name "a plain data file test"}
 :input {:provisioner :dda.provision.dry-run/dry-run
         :user "user"
         :content "echo hi"}
 :expected {:execution-user "user"
            :content "echo hi"}}