{:meta {:name "a plain data file test"}
 :input {:provisioner :dda.provision.dry-run/dry-run
         :user "user"
         :command "echo hi"}
 :expected {:execution-user "user"
            :execution-directory "/home/user"
            :command "echo hi"}}