{:meta {:name "test modes"}
 :input {:provisioner :dda.provision.dry-run/dry-run
         :user "user"
         :module "dda-provision"
         :sub-module "should-copy"
         :files [{:filename "aFile.sh"}]}
 :expected [{:path
             "/home/user/resources/dda-provision/should-copy/aFile.sh"
             :mode "700"
             :owner "user"
             :group "user"
             :content "#!/bin/bash -v\necho \"echo from aFile.sh\"\n# cmts\necho \"again!\"\n"}]}