{:meta {:name "a plain data file test"}
 :input {:provisioner :dda.provision.dry-run/dry-run
         :user "user"
         :module "dda-provision"
         :sub-module "should-execute"
         :filename "aFile"}
 :expected {:execution-directory "/home/user"
            :execution-user "user"
            :filename "aFile"}}