{:meta {:name "a plain data file test"}
 :input {:provisioner :dda.provision.dry-run/dry-run
         :user "user"
         :module "dda-provision"
         :sub-module "should-copy"
         :files [{:filename "aFile"}]}
 :expected [{:path
             "/home/user/resources/dda-provision/should-copy/aFile"
             :mode "600"
             :owner "user"
             :group "user"
             :content "aFile"}]}