{:meta {:name "test templating"}
 :input {:provisioner :dda.provision.dry-run/dry-run
         :user "user"
         :module "dda-provision"
         :sub-module "should-copy"
         :files [{:filename "file-with-template.sh"
                  :config {:a-key "a-value"}}]}
 :expected [{:path
             "/home/user/resources/dda-provision/should-copy/file-with-template.sh"
             :mode "700"
             :owner "user"
             :group "user"
             :content "file with a-value"}]}